@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mad Med Omtanke</h1>
    <p>Here customer's can see all of our employee's in the different department's around the country.</p>
</div>
